body {
    font-family: Arial, sans-serif;
    background-color: #000000; /* Preto */
    color: #ecf0f1;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-color: #4CAF50; /* Verde */
    color: #ffffff;
    padding: 20px 0;
    margin: 0;
}

section {
    margin: 20px auto;
    padding: 20px;
    background-color: #4b0082; /* Roxo */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

h2 {
    color: #4CAF50; /* Verde */
}

button {
    background-color: #4CAF50; /* Verde */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049; /* Verde mais escuro */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

input[type="radio"] {
    margin-right: 10px;
}

p {
    font-size: 16px;
}

#fila div {
    margin: 5px;
    padding: 10px;
    border: 1px solid #000;
    display: inline-block;
    cursor: move;
}

#dropzone {
    margin-top: 10px;
    padding: 20px;
    border: 2px dashed #000;
    min-height: 50px;
}