@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
:root{
    --cor1: #000000;
    --cor2: #2b07ba;
    --cor3: #ffffff;
    --cor4: #cbcbcb;
    --cor5: #db1c1c;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: grey;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 30%;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30em;
    height: 5em;
    margin: 1em;
    cursor: pointer;
    border: 5px solid black;
    border-radius: 3em;
    transition: 0.5s;
    font-size: xx-large;
    color: black;
}

.estudo, .game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.estudo:hover {
    color: white;
}

a:hover>.game {
    color: green;
    border: 5px solid purple;
    border-radius: 3em;
}
a[game]:hover>.estudo{
    color: white;
}